<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/header.ejs') %>
<body>
    <h1 id="homebutton"><a href="/">RecommendMe</a></h1>
    <h3><a href="/movies">Back to Movies</a></h3>
    
    <div class="EditItem">
        <form action ="/movies/<%= movies._id %>?_method=PUT" method="post" id="createForm">
            <input type="text" name="title" placeholder="Title" required value="<%= movies.title %>" />
            <input type="text" name="director" placeholder="Director" value="<%= movies.director %>" />
            <input type="text" name="release_date" placeholder="Release Date" value="<%=movies.release_date%>" />
            <input type="text" name="poster" value="<%= movies.poster %> " />
            <input type="text" name="review" value="<%= movies.review %>" />
            
            <input type="number" name="likes" placeholder="1" value="<%=movies.likes %>" />
            <button type="submit">Save Edit</button>
        </form>
    </div>
    
</body>
</html>