<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/header.ejs') %>
<body>
    <h1 id="homebutton"><a href="/">RecommendMe</a></h1>
    <div class="container-fluid">
        
            <div class="row">
                <div class="card col-sm-6" class="card col-md-6">
                <a href="/albums">
                    <h2>Albums</h2>
                    <div class="row">
                    <% for (let album of albums) { %>
                        <div class="card col-sm-6">
                        <img alt="<%= album.title%>" src="<%= album.cover %>" width="100">
                        </div>
                    <%}%>
                </div>
                </a>
                </div>
                <div class="card col-sm-6" class="card col-md-6">
                <a href="/movies">
                    <h2>Movies</h2>
                    <div class="row">
                    <% for (let movie of movies) { %>
                        <div class="card col-sm-6" class="card col-md-4">
                        <img alt="<%= movie.title%>" src="<%= movie.poster %>" width="100">
                        </div>
                    <%}%>
                </div>
                </a>
            </div>
        </div>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    
</body>
</html>