<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecommendMe</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <h1>RecommendMe</h1>
    <h3><a href="/">Home</a></h3>
    <div class="container">
        <h1>Albums</h1>
        <h2><a href="/albums/new">Add an Album</a></h2>
        <div class="row">
            <!-- <div class="card col-md-6"> -->
                
            <% for (let album of albums) { %>
                <div class="card col-md-6">
                
                    <a href="/albums/<%=album._id%>">
                    <img alt="<%= album.title%>" src="<%=album.cover%>" width="300">
                    <div class="card col-md-6">
                    <h2><%=album.title%></h2>
                    <h3><%=album.artist%></h3>
                    </div>
                    </a>
        
                </div>
            <%}%>
            <!-- </div> -->
        </div>
        
    </div>
    
</body>
</html>